
body {
	background: url("black_background.jpg");
	size: 100%;
	height: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFCC00;
}

.biodata{
	width: auto;
	height: auto;
	float: right;
	padding: 0% 10% 5% 5%;
	margin-top: -1%;

}

.grid-container {
	height: 100%;
   	width: 100%;
	display: grid;
	grid-template-columns: 50% 49.7%;
  	grid-template-areas:
    'header header'
    'left right'
    'footer footer';
  	grid-gap: 5px;
	background-color: #a9a9a9;
	background-size: 100%;
	
}

.item1 { 
	grid-area: header;
	width: auto;
}
.item2 { 
	grid-area: left;
}

.item2 img{
	width: 70%;
	height: auto;
	padding-left: 20%;
	margin-top: 10%
}

#konten{
	padding-top: 10%;
}

.item3 { 
	grid-area: right; 
}

.item3 h1{
	width: 80%;
	height: auto;
	text-align: center;
	border: 4px;
	border-style: dashed;
	border-color: black;
	
}

.item3 p{
	font-size: 24;
	text-align: center;
}

.item4 { 
	grid-area: footer; 
}

